
.btn-klik {
    padding: 20px 40px;
    font-size: 18px;
    background-color: #25d366;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: blink 3s infinite;
    text-decoration: none; /* Menghilangkan gaya default tautan */
    display: inline-block; /* Mengubah tampilan menjadi inline block */
}

.btn-klik:hover {
    opacity: 0.8;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
