/* style.css */

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: transparent;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    text-indent: -9999px; /* Menghilangkan teks, namun tetap aksesibel */
    overflow: hidden;
    z-index: 100;
  }
  
  .whatsapp-float:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  